nav {
    /* background-color: gainsboro; */
}
.top-nav {
    display: flex;
    justify-content: space-around;
    height: 3rem;
    border-bottom: 1px solid black;
    background-color: #480fa8;
    color: aliceblue;
}
/* Logo container */
.left {
    display: flex;
    align-items: center;
}
.logo-container {
    display: flex;
    align-items: center;
}
img.logo-im {
    height: 2.3rem;
}
span.web-name {
    margin-left: 6px;
    font-size: x-large;
}

/* Mid Container */
.mid.ul {
    display: flex;
    align-items: center;
}

ul.nav-ul {
    display: flex;
}

li.nav-li {
    list-style-type: none;
    margin: .4rem;
    cursor: pointer;
    font-size: 1.2rem;
}
li.nav-li:hover {
    font-size: 1.3rem;
}
/* Left container */
.right {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 5px;
}
.ham {
    height: 10px;
    width: 3rem;
    background-color: white;
    margin: 2px;
    border-radius: 4px;
}

/* hamburger animation */

@keyframes tiltU{
    100%{
        /* margin-top: 1rem; */
        rotate: 45deg;
        width: 55px;
        margin-bottom: -12px;
    }
}

@keyframes tiltd{
    100%{
        width: 55px;
        rotate:  -45deg;
    }
}


#noclk{
    display: "";
}

#hide{
    display: none;
}
#show{
    display: flex;
}
#up-b{
    animation-name: tiltU;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#bt-b{
    animation-name: tiltd;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
/* Responsive to nav top */

@media (max-width:570px){
    .top-nav {
        display: flex;
        justify-content: space-around;
        height: 3.7rem;
    }
    .mid.ul {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .product {
        display: none;
    }
}


/* Bottom Nav */

.bottom-nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #260a40;
    color: white;
}
.home {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.menu-ham{
    display: none;
    background-color: #260a40;
}
.list-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul.nav-ul-ham {
    /* width: 11rem; */
}
li.nav-li-ham {
    list-style-type: none;
    margin: .4rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;

}
li.nav-li-ham:hover {
    font-size: 1.3rem;
}


/* Footer */
footer {
    display: flex;
    width: 100vw;
    min-height: 3rem;
}
.foot{
    display: flex;
    justify-content: space-around;
    background-color: black;
    align-items: center;
    width: 100%;
}
ul.ft-ul {
    /* width: 11rem; */
}
li.ft-li {
    list-style-type: none;
    margin: .4rem;
    cursor: pointer;
    font-size: 1.2rem;
    color: white;

}
.ft-mid {
    color: white;
}

@media(max-width:450px){
    .ft-left{
        display: none;
    }
    .ft-ri{
        display: none;
    }
}